@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

body
  background-color $tertiary
  font-family 'Lato', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $fontPrimary
  margin-top 60px
.centerContainer
  display flex
  justify-content center
  align-items center