// Current color scheme: https://coolors.co/050505-0eb1d2-dddbcb-f5f1e3-ffffff

$primary   = #050505
$secondary = #0EB1D2
$tertiary  = #DDDBCB

$neutral   = #F5F1E3
$positive  = #41AF73
$negative  = #E14F4F
$info      = #FFFFFF
$warning   = #F4CB5B

$fontPrimary = #1E2731

@import '~quasar-variables'
